%nav.sticky-top.navbar.navbar-expand-lg.navbar-dark{style: "background-color: rgb(0, 0, 0);"}
  %a.navbar-brand{:href => "#"} AnimeSpot
  .navbar-collapse.collapse.w-100.order-3.dual-collapse2
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{:href => "#"} 投稿一覧
      %li.nav-item
        %a.nav-link{:href => "#"} マイページ
      %li.nav-item
        %a.nav-link{:href => "#"} 作品名から検索